* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 25px;
   
  }

  .column1 {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 160px;
   
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #81c670;
    color:white;
    cursor: pointer;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-image: url(man-in-lotus-position-with-long-hair-healthy-yoga-banner-vector.jpg);
    color: rgb(0, 0, 0);
    }

    .large-font {
      font-size: 48px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #ffffff;
        justify-content: space-between;
        overflow: auto;
    }
    ul li {
        position: relative;
        margin: 0 10px;
        list-style: none;
        display: inline-block;
        padding: 14px;
        font-size: 18px;
        color:rgb(255, 255, 255)
    }
    ul li a{
      text-decoration:solid; 
      cursor: pointer;
      color: rgb(0, 106, 28);
    }
    ul li a:hover {
         background-color: #525252;
         color:white
    }
    
    .progress-container {
        width: 100%;
        height: 8px;
        background: #ccc;
      }
      
      .progress-bar {
        height: 8px;
        background: #04AA6D;
        width: 0%;
      }
      .header {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        background-color: #f1f1f1;
      }

      p{
        font-size: 17.75px;
        font-family:Arial, Helvetica, sans-serif;
        line-height: 140%;
      }

      section{
        text-align: center;
      }

      footer{
        background-color: #048b4c;
        margin-top: 80px;
        text-align: center;
        color: white;
        padding:30px 0px;
        text-align:center;
      }
      
      .fa {
            padding: 10px;
            font-size: 80px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
          }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background-color: white;
        color: #04AA6D;
      }
      
      .fa-google {
        background-color: white;
        color: #04AA6D;
      }
      
      .fa-linkedin {
        background-color: white;
        color: #04AA6D;
      }
      
      .fa-youtube {
        background-color: white;
        color: #04AA6D;
      }
      
      .fa-instagram {
        background-color: white;
        color: #04AA6D;
      }
      .font{
        color:white;
      }